//-------------------------------------------------------------------------------
  @name: Offer
  -------------------------------------------------------------------------------//

// offer
.offer
  .container
    .offer__wrapper
      .offer__txt.txt-el--white
        p.txt-el__tagline
          | !{data.tagline}
        h3.txt-el__title
          | !{data.title}
        p.txt-el__desc
          | !{data.desc}
        a.btn.btn--secondary(href=data.btn.to)
          | !{data.btn.text}
      .offer__img
        ='\n'
        img.offer__img__el(src="assets/img/dummy/"+data.img.src alt=data.img.alt)/

='\n'
// end-offer
