//-------------------------------------------------------------------------------
  @name: Our Spaces Item
  -------------------------------------------------------------------------------//

// our-spaces-item
.our-spaces__item
  .our-spaces__box
    .our-spaces__board
      .our-spaces__board__txt
        h3.our-spaces__board__title
          | !{data.title}
        p.our-spaces__board__desc
          | !{data.desc}
        ='\n'
        a.our-spaces__board__btn(href=data.to)
          | Check avaibility
          ='\n'
          i.fi-chevron-right
        ='\n'
    .our-spaces__img
      ='\n'
      img.our-spaces__img__el(src='assets/img/dummy/'+data.img.src alt=data.img.alt)/
    .our-spaces__txt
      h4.our-spaces__txt__title
        | !{data.title}
    ='\n'
    button.our-spaces__btn(type='button')
      ='\n'
      i.fi-chevron-right
    ='\n'
='\n'
// end-our-spaces-item
