//-------------------------------------------------------------------------------
  @name: Why Frisfes
  -------------------------------------------------------------------------------//

// why-frisfes
.why-frisfes
  .container
    .why-frisfes__wrapper
      .why-frisfes__txt.txt-el--white
        .why-frisfes__txt__wrapper
          p.txt-el__tagline
            | !{data.tagline}
          h2.txt-el__title
            | !{data.title}
          p.txt-el__desc
            | !{data.desc}
      .why-frisfes__list
        .why-frisfes__list__wrapper
          each val in data.list
            .why-frisfes__item
              .why-frisfes__item__icon
                ='\n'
                img.why-frisfes__item__icon__el(src='assets/img/icon/'+val.icon alt=val.title)/
              .why-frisfes__item__txt
                h3.why-frisfes__item__title
                  | !{val.title}
                p.why-frisfes__item__desc
                  | !{val.desc}

='\n'
// end-why-frisfes
