//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

-
  dataFooter = {
    logo: {
      to: 'index.html',
      img: 'frispes-white.svg',
      alt: 'frispes',
    },
    desc: 'We offer comfortable spaces, cozy cafe, high-speed internet, spacious parking area and many more for your best workspaces and meetings',
    sosmed: [
      {
        to: '#instagram',
        iconClass: 'instagram',
      },
      {
        to: '#youtube',
        iconClass: 'youtube',
      },
      {
        to: '#facebook',
        iconClass: 'facebook',
      }
    ],
    menu: [
      {
        title: 'Spaces',
        nav: [
          {
            to: 'co-working-spaces.html',
            text: 'Co-working spaces'
          },
          {
            to: 'meeting-rooms.html',
            text: 'Meeting rooms'
          },
          {
            to: 'event-spaces.html',
            text: 'Event spaces'
          },
          {
            to: 'child-playground.html',
            text: 'Child playground'
          },
          {
            to: 'cafe-and-resto.html',
            text: 'Cafe & resto'
          }
        ]
      },
      {
        title: 'Company',
        nav: [
          {
            to: 'about-us.html',
            text: 'About Us'
          },
          {
            to: 'pricing.html',
            text: 'Pricing'
          },
          {
            to: 'careers.html',
            text: 'Careers'
          },
          {
            to: 'press.html',
            text: 'Press'
          }
        ]
      },
      {
        title: 'Support',
        nav: [
          {
            to: 'faqs.html',
            text: 'FAQs'
          },
          {
            to: 'privacy-policy.html',
            text: 'Privacy Policy'
          },
          {
            to: 'help.html',
            text: 'Help'
          }
        ]
      },
      {
        class: 'contact',
        title: 'Contact Us',
        nav: [
          {
            to: 'mailto:Hello@frispes.com',
            text: 'Hello@frispes.com'
          },
          {
            to: 'https://goo.gl/maps/1SbR9rKDKmKd52Lx9',
            text: 'Jalan Jayakatwang  No.301 Ngasem, Kediri'
          },
          {
            to: 'telp:+6282334670000',
            text: '(+62) 82334670000'
          }
        ]
      },
    ]
  }

//footer
.footer
  .container
    .footer__wrapper
      .footer__menu
        each val in dataFooter.menu
          .footer__menu__item.js-footer-acc
            h3.footer__title
              | !{val.title}
            ul.footer__nav(class=(val.class == 'contact' ? 'footer__nav--contact' : ''))
              each valItem in val.nav
                li.footer__nav__item
                  a.footer__nav__link(href=valItem.to)
                    | !{valItem.text}
      .footer__about
        ='\n'
        a.footer__logo(href=dataFooter.logo.to)
          ='\n'
          img.footer__logo__el(src='assets/img/logo/'+dataFooter.logo.img alt=dataFooter.logo.alt)/
        ='\n'
        p.footer__desc
          | !{dataFooter.desc}
        ul.footer__sosmed
          each val in dataFooter.sosmed
            li.footer__sosmed__item(class=val.iconClass)
              ='\n'
              a.footer__sosmed__link(href=val.to target='_blank')
                ='\n'
                i(class='fi-'+val.iconClass)
                ='\n'

='\n'
//end-footer
